Repository CLIuno/core: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
    "*.ts": ["prettier --write", "eslint --fix"],
    "*.js": ["prettier --write", "eslint --fix"],
    "*.json": "prettier --write",
    "*.md": "prettier --write"
}

fix: commitlint
  .circleci/config.yml
  .husky/pre-commit
  commitlint.config.mjs
Due: none

chore: clean the code
  .changeset/config.json
  .circleci/config.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmignore
  .npmrc
  .prettierrc
  BACKERS.md
  CHANGELOG.md
  LICENSE.md
  README.md
  SECURITY.md
  bin/app.js
  commitlint.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.ts
  src/utils/GitHandler.ts
  src/utils/links.ts
  src/utils/messages.ts
  src/utils/questions.ts
  tsconfig.json
  tsup.config.ts
  utils/GitHandler.js
  utils/messages.js
  utils/questions.js
Due: prettier --write, eslint --fix

fix: version bug
  .changeset/cold-carrots-clean.md
  .npmignore
Due: prettier --write

Delete .circleci directory
  .circleci/config.yml
Due: none

feat: add doctor command and migrate tooling to oxc
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/main.yml
  .github/workflows/publish.yml
  .lintstagedrc.json
  .oxfmtrc.json
  .oxlintrc.json
  .prettierignore
  .prettierrc
  TODO.md
  commitlint.config.mjs
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.ts
  src/utils/GitHandler.ts
  src/utils/doctor.ts
  src/utils/links.ts
  src/utils/messages.ts
  src/utils/questions.ts
  tsconfig.json
  tsup.config.ts
Due: prettier --write, eslint --fix

feat: add frontend-backend compatibility test matrix
  .gitignore
  package.json
  scripts/test-matrix.mjs
Due: prettier --write

feat: test auth features and response shapes in the matrix
  scripts/test-matrix.mjs
Due: none

feat: drive the full auth cycle in the matrix and add ai docs
  .claude/skills/cliuno-matrix/SKILL.md
  .claude/skills/cliuno-matrix/references/backends.md
  .claude/skills/cliuno-matrix/references/contract.md
  CLAUDE.md
  scripts/test-matrix.mjs
Due: prettier --write

feat(matrix): grow the board to 8 frontends x 10 backends
  .claude/skills/cliuno-matrix/SKILL.md
  .claude/skills/cliuno-matrix/evals/evals.json
  .claude/skills/cliuno-matrix/references/backends.md
  .gitignore
  scripts/test-matrix.mjs
Due: prettier --write

feat(matrix): add tallstack backend and reactnative frontend (9x11 board)
  .claude/skills/cliuno-matrix/SKILL.md
  .claude/skills/cliuno-matrix/references/backends.md
  scripts/test-matrix.mjs
  src/utils/links.ts
  src/utils/questions.ts
Due: prettier --write, eslint --fix

feat(skills): add cliuno-scaffold skill
  .claude/skills/cliuno-scaffold/SKILL.md
  .claude/skills/cliuno-scaffold/references/stacks.md
  CLAUDE.md
Due: prettier --write

ci: use pnpm 10 to match the workspace allowBuilds config
  .github/workflows/main.yml
Due: none

ci: use pnpm 10 in the publish workflow
  .github/workflows/publish.yml
Due: none

ci: publish to npm via OIDC trusted publishing
  .github/workflows/publish.yml
Due: none

ci: drop registry-url so changeset detects published versions
  .github/workflows/publish.yml
Due: none

ci: skip publishing versions already on npm; keep OIDC
  .github/workflows/publish.yml
  scripts/ci-publish.sh
Due: none

feat: add Drogon (C++) backend to the CLI menu
  src/utils/links.ts
  src/utils/questions.ts
Due: prettier --write, eslint --fix

feat(matrix): add Drogon as the 12th backend column (108/108)
  .claude/skills/cliuno-matrix/SKILL.md
  .claude/skills/cliuno-matrix/references/backends.md
  scripts/test-matrix.mjs
Due: prettier --write

chore: add changeset for the 2.1.0 stack expansion
  .changeset/expand-stacks.md
Due: prettier --write

fix(pkg): ship only dist/ in the npm package
  .changeset/slim-package.md
  package.json
Due: prettier --write
